@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=RocknRoll+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffc7d4;
  --bg-color2: #fac0cd;
  --border-color: #dd3c545d;
  --color-gray: #707070;
  --btn-hover: #ffaebf;
  --error-msg-color: #ff0000;
}

body {
  width: 100vw;
  min-width: 270px;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
